<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allenyll.sw.system.mapper.product.GoodsLadderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.allenyll.sw.common.entity.product.GoodsLadder" id="goodsLadderMap">
        <result property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="count" column="count"/>
        <result property="discount" column="discount"/>
        <result property="price" column="price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        goods_id
        count
        discount
        price
    </sql>

</mapper>
