<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allenyll.sw.system.mapper.sys.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.allenyll.sw.common.entity.system.Role">
		<id column="id" property="id" />
		<result column="role_name" property="roleName" />
		<result column="role_sign" property="roleSign" />
		<result column="remark" property="remark" />
		<result column="is_delete" property="isDelete" />
		<result column="add_user" property="addUser" />
		<result column="add_time" property="addTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_sign, remark, is_delete, add_user, add_time, update_user, update_time
    </sql>

</mapper>
