<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allenyll.sw.system.mapper.market.CouponDetailMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.allenyll.sw.common.entity.market.CouponDetail" id="couponDetailMap">
        <result property="id" column="id"/>
        <result property="couponId" column="coupon_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="couponCode" column="coupon_code"/>
        <result property="nickName" column="nick_name"/>
        <result property="getType" column="get_type"/>
        <result property="useStatus" column="use_status"/>
        <result property="useTime" column="use_time"/>
        <result property="orderId" column="order_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="isDelete" column="is_delete"/>
        <result property="addUser" column="add_user"/>
        <result property="addTime" column="add_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        coupon_id
        customer_id
        coupon_code
        nick_name
        get_type
        use_status
        use_time
        order_id
        order_no
        is_delete
        add_user
        add_time
        update_user
        update_time
    </sql>

</mapper>
